<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>乐淘电商1</title>
		<link rel="stylesheet" href="./lib/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="./css/common.css"/>
		<link rel="stylesheet" href="lib/nprogress/nprogress.css">
	</head>
	<body>
		<!-- 左侧导航栏 -->
		<div class="lt_aside">
			<!-- 标题 -->
			<div class="brand">
				<p>黑马25期</p>
			</div>
			<!-- 头像 -->
			<div class="user">
				<img src="images/default.png" >
				<p>超级管理员</p>
			</div>
			<!-- 导航 -->
			<div class="nav">
				<ul>
					<li>
						<a href="user.html" class="current">
							<i class="glyphicon glyphicon-user "></i>
							<span>用户管理</span>
						</a>
					</li>
					<li>
						<a href="javascript:;" class="category">
							<i class="glyphicon glyphicon-list"></i>
							<span>分类管理</span>
						</a>
						<div class="second" style="display: none;">
							<a href="first.html">一级分类</a>
							<a href="second.html">二级分类</a>
						</div>
					</li>
					<li>
						<a href="">
							<i class="glyphicon glyphicon-tags"></i>
							<span>商品管理</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- 右侧内容 -->
		<div class="lt_main">
			<!-- 头部 -->
			<div class="lt_topbar">
				<a href="#" class="pull-left icon_menu">
					<i class="glyphicon glyphicon-align-justify"></i>
				</a>
				<a href="#" class="pull-right icon-logout">
					<i class="glyphicon glyphicon-log-out"></i>
				</a>
			</div>
			<!-- 右侧下方内容 -->
			<div class="container-fluid" style="height: 50px;">
				<!-- 路径导航 -->
				<ol class="breadcrumb">
				  <li><a href="index1.html" style="color: #0000FF;">管理系统</a></li>
				  <li>用户管理</li>
				</ol>
				<!-- 表格内容，利用bootstrap创建表格 -->
				<div class="lt-content">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th width="10%">序号</th>
								<th width="20%">用户名</th>
								<th width="30%">手机号</th>
								<th width="20%">状态</th>
								<th width="20%">操作</th>
							</tr>
						</thead>
						<tbody>
							<!-- 模板引擎页面 -->
						</tbody>
					</table>
					<!-- 分页插件 -->
					<div class="text-right">
						<ul id="paginator"></ul>
					</div>
				</div>
			</div>
		</div>
		<!--退出登录的模态框 -->
		<div class="modal fade bs-example-modal-sm logoutModal" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-sm" role="document">
				<div class="modal-content">
					<!-- 1 -->
					<div class="modal-header">
						<button type="button" class="close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">温馨提示</h4>
					</div>
					<!-- 2 -->
					<div class="modal-body red">
						<p><i class="glyphicon glyphicon-info-sign"></i>你确定要退出吗?</p>
					</div>
					<!-- 3 -->
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
						<button type="button" class="btn btn-primary logoutBtn">确定</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
		<!--修改用户状态的模态框 -->
		<div class="modal fade bs-example-modal-sm userModal" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-sm" role="document">
				<div class="modal-content">
					<!-- 1 -->
					<div class="modal-header">
						<button type="button" class="close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">温馨提示</h4>
					</div>
					<!-- 2 -->
					<div class="modal-body red">
						<p><i class="glyphicon glyphicon-info-sign"></i>你确定要执行此操作吗?</p>
					</div>
					<!-- 3 -->
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
						<button type="button" class="btn btn-primary userBtn">确定</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
		<script type="text/html" id="tpl">
			{{each rows v i}}
				<tr>
					<td>{{(page-1)*size+i+1}}</td> <!-- 序号,i是索引值，i+1是第一页的序号，加上前面有几页就是当前的序号 -->
					<td>{{v.username}}</td>
					<td>{{v.mobile}}</td>
					<td>{{v.isDelete===1?"正常":"禁用"}}</td> <!-- 状态需要判断，当状态为1时为正常状态 -->
					<td data-id="{{v.id}}"><!-- 最后的按钮通过状态进行判断设置，1时为正常状态，需要显示禁用按钮 -->
						{{if v.isDelete===1}}
						<button type="button" class="btn btn-danger">禁用</button>
						{{/if}}
						{{if v.isDelete===0}}
						<button type="button" class="btn btn-primary">启用</button>
						{{/if}}
					</td> 
				</tr>
			{{/each}}
		</script>
		<script src="./lib/jquery/jquery.min.js"></script>
		<script src="./lib/bootstrap/js/bootstrap.min.js"></script>
		<script src="lib/nprogress/nprogress.js"></script>
		<script src="./js/common.js"></script>
		<script src="js/user1.js"></script>
		<script src="lib/artTemplate/template-web.js"></script>
		<script src="lib/bootstrap-paginator/bootstrap-paginator.min.js"></script>
	</body>
</html>
